
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 2rem 0;
    background: #f4f4f4;
}

.section h2 {
    margin-bottom: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
}

.project {
    margin-bottom: 2rem;
    display: flex;
    margin: 0.5rem;
    border-radius: 4px;
    padding: 0.5rem;
    z-index: 1;
}

.project img {
    height: auto;
    display: block;
    float: left; 
    margin: 0 15px 15px 0; 
    max-width: 25%; 
    height: auto;
    animation: rotateFlipFade 6s ease-in-out infinite;
    z-index: 0; 
    opacity: 0.8;
}
@keyframes rotateFlipFade {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    33% {
        transform: rotate(360deg);
        opacity: 1;
    }
    50% {
        transform: rotate(360deg) rotateY(180deg);
        opacity: 1;
    }
    66% {
        transform: rotate(360deg) rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) rotateY(0deg);
        opacity: 1;
    }
}
#contact{
    text-align: center;
}
.project article{
    width: inherit;
}
.project h3 {
    margin: 0.5rem 0;
}

.project a {
    display: inline-block;
    margin: auto 0.5rem;
    text-decoration: none;
    color: #333;
    background: #ddd;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.project a:hover {
    background: #ccc;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 0.5rem;
}

.social-links li a {
    text-decoration: none;
    color: #333;
}

.social-links li a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}